<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A T O N</title>
        <link rel="icon" type="image/x-icon" href="resources/img/logo.png">
        <!--CSS-->
        <link rel="stylesheet" href="resources/css/estilos-ropas.css">
        <!--Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins&display=swap" rel="stylesheet">
        <!--Iconos-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
<body>
    <section class="navbar-section">
        <div class="container-nav">
            <header class="header">
                <nav class="navbar">
                    <div class="name">
                        <a href="/">
                            <h1>aton</h1>
                        </a>
                    </div>
                    <div class="logo">
                        <img src="resources/img/logo-white.png" alt="logo">
                    </div>
                    <div class="list"> 
                        <ul class="ul-list">
                            <li class="item-navbar"><a href="#">Tienda</a></li>
                            <li class="item-navbar"><a href="#">Man</a></li>
                            <li class="item-navbar"><a href="#">New</a></li>
                            <li class="item-navbar"><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    </section>

    <main class="main-ropa">
        <div class="container-main">
            <div class="ropa">
                <div class="img-ropa">
                    <img src="resources/img/img-prendas/shirt-white.png" alt="prenda-llama">
                </div>
                
                <div class="info-prenda">
                    <div class="name-prenda">
                        <h1>Buzo oversize en llamas</h1>
                    </div>
                    <div class="text-description">
                        <p>Cada prenda es fabricada con la mejor
                            calidad textil su tela es 100% de algodón, estampado
                            de Serigrafía.
                        </p>
                    </div>
                    <div class="tallas">
                       <div class="tittle-talla">
                            <label>talla:</label>
                       </div>
                       <div class="contendor-list">
                            <div>
                                <span>S</span>
                            </div>
                            <div>
                                <span>M</span>
                            </div>
                            <div>
                                <span>L</span>
                            </div>
                            <div>
                                <span>XL</span>
                            </div>
                        </div>
                    </div>
                    <div class="cantidad-prenda">
                        <div class="container-cantidad">
                            <div class="text-cantidad">
                                <label>Cantidad:</label>
                            </div>
                            <div class="input-cantidad">
                                <input type="text" required="required" class="cantidad">
                                <input type="button" class="btn" value="Añadir al carrito">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
           
            
        </div>
    </main>
</body>
</html>