<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscado</title>
</head>
<body>
    <h2>Resultados</h2>
        <%   for(let x of datos){%>
        <h2><%= x.nombre  %> </h2>
        <p><%=x.descripcion  %></p>
        
        <img src="resources/img/dbimages/<%=x.id_prendas+x.nombre %>.png" alt="<%= x.nombre %>">

        <% } %> 
</body>
</html>