<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="resources/css/despliegue.css">


</head>
<body>
    
    <input type="submit" id="btnMostrar" value="Mostrar">
    <div class="menuBuscar" id="menuBuscar">
        <div class="barBuscar" >BUSCAR PRENDA</div>

        <form action="/buscado" method="POST">
            <input class="inputBuscar" name="inputBuscar" id="inputBuscar" type="text" placeholder="Buscador">
            <input type="submit" value="Buscar">
        </form>
        
        <div class="sugerencias">
            <h3 style="text-align: center;">Suggestions</h3>

            <ul class="listaSugerencias">
                <li>Formal</li>
                <li>Kids</li>
                <li>Casual</li>
                <li>Shoes</li>
                <li>Sport</li>
                <li>T-Shirt</li>
                <li>Chines</li>
                <li>Informal</li>
                <li>Jogger</li>
                <li>Jeans</li>
                <li>Blazer</li>
            </ul>
        </div>
    </div>
    
</body>
</html>
<script src="resources/javascript/funcion.js" ></script>