<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/login.css">
</head>
<body>
    <h1>Login</h1>
    <form action="auth" method="POST">
        
        <input type="text" name="nombres" id="nombres" placeholder="Ej: Juan David" required>
        <input type="text" name="apellidos" id="apellidos" placeholder="Ej: De Oro Gelvez" required>

        <input type="password" name="password" id="password" placeholder="Contraseña/Pass" required>
        <input type="submit" value="Iniciar Sesión" class="btn-login">

         <p>Si no te has registrado haz click aquí --><a href="register"> Registrarme</a></p>

    </form>
</body>
</html>