*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --font-tittle: 'Anton', sans-serif;
    --font-text: 'Poppins', sans-serif;
    --font-tittle-hero: 'Bebas Neue', cursive;
    --img-logo: url(../img/logo.png);
    --clr-hero: #F1F1F1;
    --clr-variedad: #edeee9;
    --background-fondo: url(../img/fondo/fondo.jpg);
}
.input-buscar{
    margin-bottom: 100px;
}
.container-buscar{
    max-width: 1200px;
    margin: auto;
}
.buscador-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscador-contenedor .buscadorr{
    width: 100%;
    padding: 15px 30px;
    color: #282828;
    border: solid 1px #282828;
    border-right: none;
    border-top: none;
    border-left: none;
    outline: none;
    padding: 20px 40px;
    transition: all .3s ease;
    background: none;
}


.btn-buscar{
    border: solid 1px #282828;
    display: none;
}


.buscador-contenedor .buscadorr:hover{
    width: 1100px;
}
.buscador-contenedor .buscadorr:focus{
    width: 1000px;
}
.container-1{
    background-color: white;
    border: solid 1px #282828;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 40px;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-target{
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 2rem;
}

.img-target{
    background-color: #f4f4f4;
    width: 150px;
    height: 150px;
}

.img-target img{
    height: 100%;
    width: 100%;
}
.description-prenda h1{
    font-family: var(--font-tittle-hero);
}
.description-prenda p{
    font-family: var(--font-text);
}