*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-tittle: 'Anton', sans-serif;
    --font-text: 'Poppins', sans-serif;
    --font-tittle-hero: 'Bebas Neue', cursive;
    --img-logo: url(../img/logo.png);
    --clr-hero: #F1F1F1;
    --clr-variedad: #edeee9;

}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.hero-main{
    background-color: var(--clr-hero);
}

.header{
    max-width: 1200px;
    margin: auto;
    padding: 20px 40px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.name h1{
    font-size: 2rem;
    font-family: var(--font-tittle);
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: black;
}

.logo img{
    width: 60px;
}
.ul-list{
    display: flex;
    gap: 1rem;
}

ul .item-navbar{
    text-transform: uppercase;
    font-family: var(--font-text);
    letter-spacing: .2rem;
}

.item-navbar a{
    color: black;
    transition: .3s;
}

.item-navbar a:hover{
    color: rgb(188, 190, 192);
}
.hero-container{
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.block-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-hero{
    display: flex;
}
.logo-hero img{
    width: 50px;
}
.tittle-hero{
    padding: 10px 20px;
}
.tittle-hero h1{
    font-family: var(--font-tittle-hero);
    font-size: 5rem;
}
.tittle-hero p{
    font-size: 1.5rem;
    font-family: var(--font-text);
}

.man-hero img{
    width: 100%;
    height: 100%;
}
.list img{
    display: none;
}
#btn-menu{
    display: none;
}


@media screen and (max-width: 1200px){
    .header{
        padding: 40px;
    }
}

@media screen and (max-width: 994px){
    .logo-hero img{
        width: 40px;
    }
    
    .tittle-hero h1{
        font-size: 3.5rem;
    }
    .tittle-hero p{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 720px){
    .list{
        position: fixed;
        top: 0;
        right: -250px;
        background-color: #fff;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all .3s ease;
    }
    .ul-list{
        flex-direction: column;
        margin-top: 40px;
    }
    .ul-list .item-navbar{
        margin-top: 30px;
        margin-left: 0;
    }
    .navbar .list img{
        display: block;
        width: 60px;
    }
    #black-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        display: none;
    }
    #btn-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        display: block;
        height: 50px;
        width: 50px;
        font-size: 2rem;
        cursor: pointer;
        transition: all .3s ease;
    }
    #btn-menu:hover{
      color: rgb(212, 212, 212);
    }
}
@media screen and (max-width: 450px){
    .man-hero img{
        display: none;
    }
    .tittle-hero{
        align-items: center;
    }
}
/*** lista de prendas ***/

.contenedor-prendas{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.tittle-img-prendas{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.tittle-img-prendas h1{
    font-size: 4rem;
    font-family: var(--font-tittle-hero);
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.img-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.prendas-img{
    height: 350px;
    width: 500px;
    background-color: #f4f4f4;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.prendas-img img{
    width: 300px;
    transition: all .3s ease;
    display: block;
}

.prendas-img .buso-color{
    width: 250px;
}
.overlay{
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay a{
    color: #262626;
    text-transform: uppercase;
}
.overlay a p{
    border: solid 1px #262626;
    padding: 10px 20px;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.overlay a p:hover{
    background-color: #262626;
    color: white;
}
.overlay .iconos-tienda{
    font-size: 2rem;
}
.overlay p{
    font-size: 1.2rem;
    margin-bottom: 0;
    font-family: var(--font-text);
}
.prendas-img:hover img{
    opacity: 0.2;
}
.prendas-img:hover .overlay{
    opacity: 1;

}

@media screen and (max-width: 1500px){
    .section-prendas{
        max-width: 1200px;
        margin: auto;
    }
    .contenedor-prendas{
        max-width: 1200px;
        margin: auto;

    }
    .img-list{
        display: grid;
        grid-template-columns: repeat(2, 3fr);
    }
}

@media screen and (max-width: 1100px){
    .prendas-img{
        height: 400px;
        width: 350px;
    }
    .prendas-img img{
        width: 100%;
    }

    .overlay .iconos-tienda{
        font-size: 1.5rem;
    }
    .overlay p{
        font-size: .8rem;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 994px){
    .tittle-img-prendas h1{
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 790px){
    .tittle-img-prendas h1{
        font-size: 2.6rem;
    }
    .img-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 720px){
    .img-list{
        display: flex;
        flex-direction: column;
    }
}
/***Derechos de autor***/
.continer-politicas{
    max-width: 1200px;
    margin: auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 40px;
}
.tittle-politicas{
    padding: 40px;
}
.tittle-politicas h1{
    font-family: var(--font-tittle-hero);
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 10px;
}
.parrafo-politicas{
    padding: 40px;
}
.parrafo-politicas p{
    font-size: 1.6rem;
    font-family: var(--font-text);
}

@media screen and (max-width: 1500px){
    .img-politicas img{
        width: 400px;
        height: 600px;
    }
}
@media screen and (max-width: 1020px){
    .tittle-politicas{
        margin: 0;
        padding: 0;
    }
    .parrafo-politicas{
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }
    .tittle-politicas h1{
        text-align: center;
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }
    .parrafo-politicas p{
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 800px){
    .img-politicas img{
        width: 300px;
        height: 500px;
    }
    .tittle-politicas h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 665px){
    .img-politicas{
        display: none;
    }
    .continer-politicas{
        max-width: 1200px;
        margin: auto;
    }
    .titulos-politicas{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .parrafo-politicas p{
      text-align: center;
    }
}

@media screen and (max-width: 300px){
    .prendas-img{
        width: 250px;
    }
}

/***Footer***/
.footer{
    background-color: #262626;
    color: white;
    padding: 20px 40px;
}
.container-footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo-footer h1{
    font-size: 3rem;
    font-family: var(--font-tittle);
    text-transform: uppercase;
    letter-spacing: .5rem;
    cursor: pointer;
}

.list-sociales{
    display: flex;
    gap: 1rem;
}

.tittle-social{
    margin-bottom: 20px;
}
.tittle-social h1{
    font-family: var(--font-text);
    text-transform: uppercase;
    font-weight: 200px;
}


.list-sociales .iconos-sociales{
    font-size: 1.5rem;
}

.contact-service{
    margin-bottom: 20px;
}
.contact-service h1{
    font-size: 2rem;
    font-family: var(--font-text);
    text-transform: uppercase;
    font-weight: 200px;
}
.number-contact i{
    font-size: 1.5rem;
    font-family: var(--font-text);
}

@media screen and (max-width: 960px){
    .container-footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px){
    .logo img{
        width: 40px;
    }
    .container-footer{
        display: flex;
        flex-direction: column;
    }
    .logo-footer{
        margin-bottom: 30px;
    }
    .redes-sociales{
        margin-bottom: 30px;
    }
    .contact{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 300px){
    .logo-footer h1{
        font-size: 2rem;
    }
    .tittle-social h1{
        font-size: 1.4rem;
    }
    .contact-service h1{
        font-size: 1.4rem;
    }
    .number-contact i{
        font-size: 1rem;
    }
}